.buttonPlay
{
-fx-background-radius: 20px, 20px, 20px, 20px;
-fx-background-color: #559c8f;
}

.buttonNext
{
-fx-background-radius: 20px, 20px, 20px, 20px;
-fx-background-color: #559c8f;
}

.buttonBack
{
-fx-background-radius: 20px, 20px, 20px, 20px;
-fx-background-color: #559c8f;
}

.buttonLoader
{
-fx-background-radius: 20px, 20px, 20px, 20px;
-fx-background-color: #559c8f;
}

.playerMain
{
-fx-background-radius: 20px, 20px, 20px, 20px;
-fx-background-color: #559c8f;
}